body {
  background-color: #e0dede;
}

input[type=checkbox] {
  border: none;
  outline: none;
  background-color: #e0dede; 
}

button {

  padding: 5px;
  height: 40px;
  width: 160px;
  outline: none;
  border: 1.2px solid #000;
  border-radius: 12px;
  background-color: #999999;
  transition: background-color 0.7s;
}

button:hover {
  border:1.2px solid #a33535;
  background-color: #e0dede;
  cursor: pointer;
  /*color: #fff;*/
}

button:active {
  background-color: blue;
}
.xyl {
  position: relative
  left: 100px;
}
.kappa {
  width: 80px;
  height: 80px;
  transition: content 1s;
}
.savetext {
  height: 500px;
  position: relative;
  resize: none;
}

#yeah {
  position: relative;
  top: 35px;
  left: 20px;
}
.output{
  position: relative;
  height: 500px;
  width: 800px;
  }

input {
  transition: background-color 0.7s;
  outline: none;
  margin: 4px;
  padding: 2px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #000;
  background-color: #e0dede;

}

input:focus {
  border-bottom: 2px solid #a33535;
  background-color: #fff;
}

#input {
  width:225px;
  height: 60px;
  max-height: 120px;
  max-width: 500px;

}

#indiv {
  transition: opacity 0.8s ease-in;
}
#outdiv{
  position: relative;
  bottom: 410px;
  transition: opacity 0.8s ease-in;
}

.savegame .output {
  transition: opacity 0.8s ease-in;
  transition: width 0.8s ease-in;
  transition: height 0.8s ease-in;
}



#hail {
  transition: opacity 2s;
}

#credit {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}