.xyl{
  position: relative
  left: 100px;
}
.kappa{
  width: 80px;
  height: 80px;
}
.savetext{
  height: 500px;
  position: relative;
  bottom: 450px;
  resize: none;
}
.output{
  position: relative;
  bottom: 450px;
  height: 500px;
  width: 800px;
  }

input {
  transition: background-color 0.7s;
  outline: none;
  margin: 4px;
  padding: 2px;
  border-left: none;
  border-top: none;
  border-right: none;
  /*border-bottom: 2px solid #000000;*/
  background-color: #005778;

}

input:focus {
  border-bottom: 2px solid #00f6ff;
  background-color: #fff;
}

#input {
  width:225px;
  height: 60px;
  max-height: 120px;
  max-width: 500px;

}

#indiv {
  transition: opacity 1s ease-in;
}
#outdiv{
  transition: opacity 1s ease-in;
}

.savegame .output {
  transition: opacity 1s ease-in;
  transition: width 1s ease-in;
  transition: height 1s ease-in;
}



#hail {
  transition: opacity 2s;
}