.xyl{
  position: relative
  left: 100px;
}
.kappa{
  width: 80px;
  height: 80px;
}
.savetext{
  height: 500px;
  position: relative;
  bottom: 250px;
  resize: none;
}
.output{
  position: relative;
  bottom: 250px;
  height: 500px;
  width: 800px;
  }